@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  background-color: #09162e;

}

.h1,.logo{
    background: linear-gradient(60deg,#204abd,#f222cc );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
}

.p{
  background: linear-gradient(10deg,#204abd,#2a8dde );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  
}
.img{
  border: 10px solid #204abd;
}